@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #87bab6;
    background-image: linear-gradient( #9fc6dd, #487d89, #031a2f);
    color: #031a2f;
    font-family: 'Dongle', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile {
    border: 2px solid #cddcdf;
    border-radius: 5px;
    text-align: center;
}

.container {
    display: flex;
    gap: 5px;
}

.container:not(:first-child) {
    margin-top: 5px;
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboardTop,
.keyboardMiddle,
.keyboardBottom {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 5px;
}


button {
    background-color: #F7F4ED;
    border: none;
    border-radius: 6px;
    font-family: 'Dongle', sans-serif;
}


/* Media Queries */

@media (max-width: 480px) {
    header {
        margin-top: 30px;
    }
    #board {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .tile {
        width: 40px;
        height: 40px;
    }
    .keyboardMiddle,
    .keyboardBottom {
        margin-top: 10px;
    }
    button {
        font-size: 14px;
        width: 27px;
        min-height: 42px;
    }
}
