@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #87bab6;
    background-image: linear-gradient(#9fc6dd, #487d89, #031a2f);
    color: #031a2f;
    font-family: 'Dongle', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tile {
    font-size: 20px;
    border: 2px solid #cddcdf;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 5px;
}

.container:not(:first-child) {
    margin-top: 5px;
}

#keyboard {
    display: flex;
    flex-direction: column;

}

.keyboardTop,
.keyboardMiddle,
.keyboardBottom {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.keyboardMiddle {
    justify-content: center;
}

.submit,
.delete {
    flex: 2 1;
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #031a2f;
}

.material-icons.md-18 {
    font-size: 18px;
}


button {
    color: #031a2f;
    background-color: #F7F4ED;
    border: none;
    border-radius: 6px;
    font-family: 'Dongle', sans-serif;
}

button:hover {
    background-color: #dbd9d5;
}

#overlay,
#instructionsOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(3, 26, 47, .8);
    display: none;
}

.overlayMessage {
    background-color: #cddcdf;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    ;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.instructionsContainer {
    background-color: #cddcdf;
    border-radius: 5px;
    position: relative;
}

.instructionsText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 15px;
}
.instructionsText p {
    margin-top: 10px;
}

.tileContainer {
    background-color: #487d89;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
}
.tileInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.demo-tile {
    border: 1px solid #cddcdf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey-tile {
    background-color: #354f5b;
}

.yellow-tile {
    background-color: #f2c35e;
}

.green-tile {
    background-color: #6cbd93;
}

#instructionsClose {
    color: #031a2f;
    background-color: transparent;
    border: 0;
    width: 24px;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

#instructionsClose:hover {
    color: #487d89;
}

#close {
    color: #031a2f;
    background-color: transparent;
    border: 0;
    width: 24px;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

#close:hover {
    color: #487d89;
}

#instructionsBtn {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

#instructionsBtn:hover {
    color:#487d89;
}

#playBtn {
    width: 100px;
}

.card {
    background-color: transparent;
    border-radius: 5px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
}

.card-inner.isFlipped {
    transform: rotateY(180deg);
}

.card-back {
    transform: rotateY(180deg);
}

.tileBack {
    border: 2px solid #cddcdf;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alertMessage {
    font-size: 18px;
    background-color: #cddcdf;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 15%;
    opacity: 1;
    display: none;
}



/* Media Queries */

@media (max-width: 559px) {
    header {
        margin-top: 30px;
    }

    #board {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .tile {
        width: 40px;
        height: 40px;
    }

    .keyboardMiddle,
    .keyboardBottom {
        margin-top: 10px;
    }

    button {
        font-size: 14px;
        width: 25px;
        min-height: 35px;
    }

    .overlayMessage {
        width: 50%;
        height: 40%;
        padding: 20px;
    }

    .messageContainer {
        height: 70%;
    }

    .card {
        width: 40px;
        height: 40px;
    }

    .card-inner {
        width: 100%;
        height: 100%;
    }

    .card-front,
    .card-back {
        width: 40px;
        height: 40px;
    }

    .tileBack {
        width: 40px;
        height: 40px;

    }
    .instructionsContainer {
        background-color: #cddcdf;
        width: 70%;
        border-radius: 5px;
        padding: 20px;
    }
    
    .tileContainer {
        padding: 8px;
    }
    .tileInfo {
        padding: 8px;
    }
    
    .demo-tile {
        width: 24px;
        height: 24px;  
    }
   
}

@media (min-width: 560px) {
    header {
        margin-top: 70px;
    }

    h1 {
        font-size: 40px;
    }

    #board {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .tile {
        width: 50px;
        height: 50px;
    }

    .keyboardMiddle,
    .keyboardBottom {
        margin-top: 10px;
    }

    button {
        font-size: 24px;
        width: 35px;
        min-height: 45px;
    }

    .overlayMessage {
        width: 300px;
        height: 400px;
        padding: 20px;
    }

    .messageContainer {
        height: 70%;
    }

    .messageContainer h2 {
        font-size: 36px;
    }

    .messageContainer p {
        font-size: 24px;
    }

    .card {
        width: 50px;
        height: 50px;
    }

    .card-inner {
        width: 100%;
        height: 100%;
    }

    .card-front,
    .card-back {
        width: 50px;
        height: 50px;
    }

    .tileBack {
        width: 50px;
        height: 50px;
    }
    .instructionsContainer {
        background-color: #cddcdf;
        width: 300px;
        aspect-ratio: 1;
        border-radius: 5px;
        padding: 40px;
    }
    
    .tileContainer {
        padding: 8px;
    }
    .tileInfo {
        padding: 8px;
    }
    
    .demo-tile {
        width: 24px;
        height: 24px;  
    }
}